
.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  background-color: #273B4A;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.user-avatar {
  font-size: 48px;
  color: white;
  background-color: #555;
  border-radius: 50%;
  padding: 10px;
  
}

.sidebar .ant-menu-item .whiteText {
  color: white !important;

}

.sidebar .ant-menu-item-selected {
  background-color: #9E9E9E !important;
}

.sidebar .ant-menu-item a {
  color: white !important;
  
}

.bottom-menu {
  
  margin-top: auto; 
}
