.gallContainer {
    display: flex;
    height: 100%;
    width: 100vw;
    background-color: white;
  }

  .gAddButton {
    width: fit-content;
    height: fit-content;
    display: flex ;
    align-items: flex-end ;
    margin-left: auto;
    background-color: #1BB39B;
    color: white;
  }

  .datePicker {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
  }
  
  .react-datepicker__input-container input {
    background-color: white !important;
    color: black !important;
  }
  
  .react-datepicker {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  
  .deleteModal {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    background: none; 
    background-color: white;
  }
  
  .deleteModalContent {
    background-color: white; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .deleteModalButtons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .deleteModalButtons button {
    margin: 0 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .deleteModalButtons button:first-child {
    background-color: #f44336;
    color: white;
  }
  
  .deleteModalButtons button:last-child {
    background-color: #ddd;
    color: #333;
  }
  