.mainContainer {
  display: flex;
  height: 100%;
  width: 100vw;
  background-color: white;
}

.mainContent {
  flex: 1;
  padding: 20px;
  background-color: white;
}

.mainHead {
  font-size: 24px;
  color: #7F8698;
  font-weight: 700;
}

.mainUnderLine {
  height: 1px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contentLine {
  width: 1px;
  background-color: #C4C4C4;
  height: 100%;
}

.mainExample {
  color: #7F8698;
  font-size: 20px;
  margin-left: 20px;
}

.imgExample {
  background-color: #1BB39B;
  justify-items: center;
  width: 80%;
  display: grid;
}

.examplePic {
  margin-top: 60px;
  height: 75px;
  width: 75px;
}

.exampleText {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.mainNumber {
  font-size: 20px;
  margin: 0 30px;
  font-weight: 700;
}

.mainInputHead {
  color: #707070;
  size: 16px;
  font-weight: 700;
  display: block;
}


.mSubmitButton {
  background-color: #1BB39B;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 105px;
    height: 39px;
    margin-top: 60px;
}

.uploadBox {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  transition: border 0.3s ease;
}

.uploadBox:hover {
  border-color: #aaa;
}

.uploadBox.withPreview {
  border: none;
}

.imagePreview {
  max-width: 100%;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

.uploadLabel {
  font-size: 16px;
  color: #555;
}

.hiddenFileInput {
  display: none;
}

@media (max-width: 400px) {
  .imgExample {
    width: 150%;
    margin-left: 23px;
  }

  .examplePic{
    height: 50px;
    width: 50px;
  }

}
