.subEdit{
  display: grid;
}

.subInput {
  margin-left: 30px;
}

.sAddButton{
    width: fit-content;
    height: fit-content;
    display: flex ;
    align-items: flex-end ;
    margin-left: auto;
    background-color: #1BB39B;
}